:root {
  --purple-btn: #7978d9;
  --purple-font: #7b61ff;
  --purple-resume: #645ffb;
  --gray-color: #484848;
  --gray-label: #555555;
  --gray-btn: #b9b9b9;
  --red-color: #ff576b;
  --orange-color: #fa8c10;
  --blue-color: #3a9ff1;

  --header-gradient: linear-gradient(90deg, #05ede3 0.02%, #645ffb 99.63%);
  --modal-background: rgba(61, 61, 61, 0.48);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* purple-btn, purple-font, purple-resume, gray-color, gray-label, gray-btn, red-color, orange-color, blue-color, header-gradient, modal-background*/

a {
  text-decoration: none;
}

.container-page {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 80vh;
  width: 40vw;
}

.container-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;

  background-color: #fff;
}

.container-form form h1 {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin: 30px 0 40px 0;

  color: #7978d9;
}

.container-form form label {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 7vh;
}

.container-form form label span {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;

  color: #484848;
}

.container-form form label input {
  width: 449px;
  height: 40px;
}

.input-submit {
  width: 449px;
  height: 48px;

  border-radius: 5px;
  border: none;
  cursor: pointer;

  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 700;

  background-color: #7978d9;
  color: #fff;
}
