/* purple-btn, purple-font, purple-resume, gray-color, gray-label, gray-btn, red-color, orange-color, blue-color, header-gradient, modal-background*/

body {
  padding: 0;
  margin: 0;
}

.container-page-home {
  display: flex;
  flex-direction: column;
}

.container-main-home {
  display: flex;
}

body {
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 15%;
}
