body {
  padding: 0;
  margin: 0;

  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 15%;
}

.container-page-home {
  display: flex;
  flex-direction: column;
}

.container-main-home {
  display: flex;
}
